[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
tensorflow = "*"
mediapipe = "*"
keras = "*"
pyautogui = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "*"
